<form method="post" action="{{ path('equipment_delete', {'id': equipment.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="btn btn-danger">
        Supprimer
    </button>
</form>
