{% extends 'base.html.twig' %}

{% block title %}Ajouter un équipement{% endblock %}

{% block body %}
    <h3>Ajouter un équipement</h3>

    {{ include('equipment/_form.html.twig') }}
    
{% endblock %}
